@CHARSET "UTF-8";
.main { 
    width:1080px;
    margin:0 auto;
}
.main .photo{
    padding:45px 0px 0px 80px;
    float:left;
}
.main .photo .dialog{
    padding-bottom:330px;
}
.main .content .sorry{
    font-size:25px;
    float:right;
    width:428px;
    margin-top:65px;
}
.main .content .sorry .error_one{
    width:356px;
    margin:0px 0px 20px 70px;
}
.main .content .sorry .main_content{
    padding-left:50px;
}
.main .content .index{
    padding-left:50px;
    font-size:20px;
    margin-top:50px;
}